    client show page

    <h1><%= @client.first_name %></h1>
    <h2><%= @client.last_name %></h2>

    <p><%= @client.date %></p>
    <p><%= @client.preferences %></p>
    <p><%= @client.content %></p>

    <% if editable?(@client) %>

        <a href="/clients/<%= @client.id %>/edit">Edit Client</a>
        
        <br></br>
        
        <form class="" action="/clients/<%= @client.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" name="" value="Delete Client">        
        </form>
    <% end %>
